#calendar-container{
border:5px solid navy;
padding:10px;
margin:5px;
}

#calendar-view
{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	text-align: center;
	font-family: 'Tahoma';
}

#calendar-view > div{
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio:1;
}

.calendar-cell
{
	border: 2px solid lightblue;
}

.calendar-cell-header
{
	border: 2px solid blue;
	font-weight: bold;
}

.calendar-cell-active
{
	background: white;
	cursor: pointer;
}

.calendar-cell-active:hover{
	border: 2px solid navy;
}

.calendar-cell-inactive
{
	background: gray;
}

.calendar-cell-current
{
	background: lightblue !important;
}

.calendar-cell-chosen
{
	background: purple;
}

.calendar-cell-booked
{
    background: #ffcc99;
}

.calendar-cell-

button.scheme-cell-choosebtn{
	border: 0px;
	background-color: inherit;
}

button#month-next-btn,button#month-prev-btn{
	min-width: 40px;
	min-height: 40px;
	text-align: center;
}

.select-input{
	min-width: 120px;
	min-height: 50px;
	text-align: center;
}


#calendar-input
{
display:flex;
align-items:center;
gap:20px;
padding:5px;
}

@media only screen and (max-width: 600px) {
  #calendar-input
  {
    gap:2px;
    padding:initial;
  }
  .select-input{
	max-width: 80px;
	min-width:0px;
	max-height: 50px;
	text-align: center;
}

}