.main-container{
	display: flex;
	flex-direction: column;
}

#room-information{

}

#room-information > div{
	padding: 3px;
}

#calendar-container{
	width: 500px;
}

@media only screen and (max-width: 800px) {
  #calendar-container{
	width: 80vw;
}
}

#calendar-day-scheme
{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#calendar-day-scheme > div.scheme-row{
	border: 1px solid black; 

	display: flex;
	align-items: stretch;
	padding: 1px;
}

div.scheme-row > div.scheme-cell-content{
	display: flex;
	color: #000;
}

div.scheme-row > div.scheme-cell-content a{
	display: flex;
	column-gap:40px;
	text-decoration: none;
}

.scheme-row-chosen{
	background-color:navy;
	color:#fff;
}

div.scheme-cell{
	display: flex;
	align-items: center;
	padding: 2px;
	justify-content: center;
	background-color: #fff;
	flex:5;
	margin: 3px;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	font-size: 12px;
	min-height: 30px;
}

div.scheme-cell-orange{
	background-color:   #f8d63e ;
}

div.scheme-cell-red{
	background-color:  #f93e3e ;
}

div.scheme-cell-gray{
	background-color:  #808080 ;
}

div.scheme-cell-green{
	background-color:   #32c569  ;
}

div.scheme-cell-label{
	background-color: inherit;
	flex:1;
	cursor: initial;
}

@media only screen and (max-width: 800px) {
  #calendar-day-scheme{
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}
}

@media only screen and (max-width: 1000px) and (min-width: 801px) {
  #calendar-day-scheme{
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
}

a{
color:blue;
}