#main-header{
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:stretch;
}

.navbar-logo{
flex-grow:3;
}

.navbar-links
{
display:flex;
align-items:stretch;
align-items:center;
}

ul#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  list-style: none;
  background-color:navy;
  align-items:stretch;
  color:white;
  align-items:center;
  font-size:1.1em;
  font-family:Tahoma,sans-serif;
}

a{
color:inherit;
text-decoration:none;
}

ul#navbar li {
background-color:inherit;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin:0 3px 0 0;
  border-radius:5px;
  flex:1;
}

ul#navbar .navbaritem-profile{
    flex-grow:3;
}

ul#navbar .navbaritem-profile{
    flex-grow:3;
}

li a {
  display: block;
  padding: 8px;
}

img#polsl-logo{
    max-width:200px;
    max-height:200px;
    display:inline;
    vertical-align:middle;
}

div#room-container{
    display:block;
}

#main-container{
  margin: 20px;
  padding: 10px;
}

.table-row {
    display:flex;
    flex-wrap:wrap;
    align-items: stretch;
    border:1px solid blue;
    gap:15px;
}

.table-header{
  background: gray;
}

.table-row > div.table-wrapper {
    display:flex;
    flex-basis: 400px;
    max-width: 400px;
}

.table-row > div > div {
    padding:5px;
}

.wrapper-room-id{

}

.wrapper-room-location{
}

.wrapper-room-location > div{
  width: 50%;
}

.wrapper-room-name{

}

.wrapper-room-status{

}

.wrapper-room-name > div{
  width: 50%;
}

.room-description{
  font-style: italic;
  cursor: pointer;
  word-wrap:anywhere;
}

#website-title-header {
    display:inline;
    margin:0px 20px;
    font-size:20px;
}
@media screen and (min-width:1200px){
    #website-title-header{
        font-size:30px;
    }
}

@media screen and (max-width:500px){
    .table-row > div.table-wrapper {
    flex-direction: column;
}
}