#main-header{
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:stretch;
}

div#room-container{
    display:block;
}

#main-container{
  margin: 20px;
  padding: 10px;
}

.table-row {
    display:flex;
    flex-wrap:wrap;
    align-items: stretch;
    border:1px solid navy;
    font-size:1.2em;
    gap:15px;
}

.table-row:nth-of-type(2n){
    background:#c1c1f3;
}

.table-header{
  background: navy;
  color:white;
}

.table-row > div.table-wrapper {
    display:flex;
    flex-basis: 400px;
    max-width: 400px;
}

.table-row > div > div {
    padding:5px;
}

.wrapper-room-id{

}

.wrapper-room-location{
}

.wrapper-room-location > div{
  width: 50%;
}

.wrapper-room-name{

}

.wrapper-room-status{

}

.wrapper-room-name > div{
  width: 50%;
}

.room-description{
  font-style: italic;
  cursor: pointer;
  word-wrap:anywhere;
}

@media screen and (max-width:500px){
    .table-row > div.table-wrapper {
    flex-direction: column;
}
}