{% load static %}

{% block title %}Lista - System rezerwacji pracowni fizycznych{% endblock %}
{% block extra_head %}
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	 <meta charset="utf-8" />
	<link rel = "stylesheet" type="text/css" href="{% static 'test/kalendarz_styl.css' %}">
	<link rel = "stylesheet" type="text/css" href="{% static 'test/stanowisko_styl.css' %}">
{% endblock %}
{% block mainpage %}
{% endblock %}

{% block content %}
	<div id = "main-container">
		<div id = "room-information">
			<div id = "room-name">Laboratorium Dextera</div>
			<div id = "room-floor">Parter</div>
			<div id = "room-id">312</div>
			<div id = "room-workbench-id">1 - Stanowisko światła</div>
			<div id = "room-description">
				Jednocześnie wzmogły się prześladowania polskich organizacji niepodległościowych. W 1827 roku nastąpiły aresztowania członków Towarzystwa Patriotycznego. Sąd sejmowy, wydając łagodne wyroki na podejrzanych i oczyszczając ich z zarzutu zdrady stanu, pośrednio potwierdził, że występowali oni w dobrej wierze przywrócenia przestrzegania zapisów konstytucji 1815 roku.
			</div>
		</div>
		<div id = "calendar-container">
			<div id = "calendar">
				<form id = "calendar-input">
					<select id="month-input" class = "select-input">
					  <option value="0">Styczeń</option>
					  <option value="1">Luty</option>
					  <option value="2">Marzec</option>
					  <option value="3">Kwiecień</option>
					  <option value="4">Maj</option>
					  <option value="5">Czerwiec</option>
					  <option value="6">Lipiec</option>
					  <option value="7">Sierpień</option>
					  <option value="8">Wrzesień</option>
					  <option value="9">Październik</option>
					  <option value="10">Listopad</option>
					  <option value="11" selected>Grudzień</option>
					</select>
					<select id="year-input" class = "select-input">
					  <option value="2021" selected>2021</option>
					  <option value="2022">2022</option>
					  <option value="2023">2023</option>
					  <option value="2024">2024</option>
					</select>
					<button type="button" id = "month-prev-btn">&lt;&lt;</button>
					<button type="button" id = "month-next-btn">&gt;&gt;</button>
				</form>
				<div id = "calendar-view">
					<div class="calendar-cell-header">Nd</div>
					<div class="calendar-cell-header">Po</div>
					<div class="calendar-cell-header">Wt</div>
					<div class="calendar-cell-header">Śr</div>
					<div class="calendar-cell-header">Cz</div>
					<div class="calendar-cell-header">Pt</div>
					<div class="calendar-cell-header">So</div>

					<div class = "calendar-cell">1</div>
					<div class = "calendar-cell">2</div>
					<div class = "calendar-cell">3</div>
					<div class = "calendar-cell">4</div>
					<div class = "calendar-cell">5</div>
					<div class = "calendar-cell">6</div>
					<div class = "calendar-cell">7</div>

					<div class = "calendar-cell">8</div>
					<div class = "calendar-cell">9</div>
					<div class = "calendar-cell">10</div>
					<div class = "calendar-cell">11</div>
					<div class = "calendar-cell">12</div>
					<div class = "calendar-cell">13</div>
					<div class = "calendar-cell">14</div>

					<div class = "calendar-cell">15</div>
					<div class = "calendar-cell">16</div>
					<div class = "calendar-cell">17</div>
					<div class = "calendar-cell">18</div>
					<div class = "calendar-cell">19</div>
					<div class = "calendar-cell">20</div>
					<div class = "calendar-cell">21</div>

					<div class = "calendar-cell">22</div>
					<div class = "calendar-cell">23</div>
					<div class = "calendar-cell">24</div>
					<div class = "calendar-cell">25</div>
					<div class = "calendar-cell">26</div>
					<div class = "calendar-cell">27</div>
					<div class = "calendar-cell">28</div>

					<div class = "calendar-cell">29</div>
					<div class = "calendar-cell">30</div>
					<div class = "calendar-cell">31</div>
					<div class = "calendar-cell">32</div>
					<div class = "calendar-cell">33</div>
					<div class = "calendar-cell">34</div>
					<div class = "calendar-cell">35</div>

					<div class = "calendar-cell">36</div>
					<div class = "calendar-cell">37</div>
					<div class = "calendar-cell">38</div>
					<div class = "calendar-cell">39</div>
					<div class = "calendar-cell">40</div>
					<div class = "calendar-cell">41</div>
					<div class = "calendar-cell">42</div>
				</div>
			</div>
		</div>
		<div id = "calendar-day-details">
			<h3 id = "calendar-day-header">23 marca 2022</h3>
			<div id = "calendar-day-scheme">
				<div class="scheme-row" value="0">
<div class="scheme-cell scheme-cell-label">00:00-01:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-green">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="1">
<div class="scheme-cell scheme-cell-label">01:00-02:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="2">
<div class="scheme-cell scheme-cell-label">02:00-03:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-red">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="3">
<div class="scheme-cell scheme-cell-label">03:00-04:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="4">
<div class="scheme-cell scheme-cell-label">04:00-05:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="5">
<div class="scheme-cell scheme-cell-label">05:00-06:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="6">
<div class="scheme-cell scheme-cell-label">06:00-07:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="7">
<div class="scheme-cell scheme-cell-label">07:00-08:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwef qewfwfwewefwefqewfwfwewe fwefqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="8">
<div class="scheme-cell scheme-cell-label">08:00-09:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-green">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="9">
<div class="scheme-cell scheme-cell-label">09:00-10:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="10">
<div class="scheme-cell scheme-cell-label">10:00-11:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">
	<a>kamil123124312&nbsp;</a>
	<a>adrian1&nbsp;</a>
	<a>kubaguzik22&nbsp;</a>
	<a>2mendakawon&nbsp;</a>
</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="11">
<div class="scheme-cell scheme-cell-label">11:00-12:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-red">kanal, fafea, fefwewfwb, rebebe,rberb,erberb, erberberb</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="12">
<div class="scheme-cell scheme-cell-label">12:00-13:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="13">
<div class="scheme-cell scheme-cell-label">13:00-14:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-red">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="14">
<div class="scheme-cell scheme-cell-label">14:00-15:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-red">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="15">
<div class="scheme-cell scheme-cell-label">15:00-16:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="16">
<div class="scheme-cell scheme-cell-label">16:00-17:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="17">
<div class="scheme-cell scheme-cell-label">17:00-18:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="18">
<div class="scheme-cell scheme-cell-label">18:00-19:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="19">
<div class="scheme-cell scheme-cell-label ">19:00-20:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-green">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="20">
<div class="scheme-cell scheme-cell-label">20:00-21:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-orange">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="21">
<div class="scheme-cell scheme-cell-label">21:00-22:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-red">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="22">
<div class="scheme-cell scheme-cell-label">22:00-23:00</div>
<div class="scheme-cell scheme-cell-content scheme-cell-green">fqewfwfwewefwe</div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="23">
	<div class="scheme-cell scheme-cell-label">23:00-00:00</div>
	<div class="scheme-cell scheme-cell-content scheme-cell-red">fqewfwfwewefwe</div>
	<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
			</div>
		</div>
		<div id = "order-confirm">
			<h4>Wybrano:</h4>
			<ol id = "chosentimelist">

			</ol>
			<textarea id = "order-message" placeholder="Zapisz dodatkową wiadomość do prośby o rezerwację."></textarea>
			<button id = "order-send">Wyślij</button>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'test/kalendarz_skrypt.js' %}"></script>
{% endblock %}