<div id = "calendar-container">
			<div id = "calendar">
				<form id = "calendar-input">
					<select id="month-input" class = "select-input">
					  <option value="0">Styczeń</option>
					  <option value="1">Luty</option>
					  <option value="2">Marzec</option>
					  <option value="3">Kwiecień</option>
					  <option value="4">Maj</option>
					  <option value="5">Czerwiec</option>
					  <option value="6">Lipiec</option>
					  <option value="7">Sierpień</option>
					  <option value="8">Wrzesień</option>
					  <option value="9">Październik</option>
					  <option value="10">Listopad</option>
					  <option value="11" selected>Grudzień</option>
					</select>
					<select id="year-input" class = "select-input">
					  <option value="2021" selected>2021</option>
					  <option value="2022">2022</option>
					  <option value="2023">2023</option>
					  <option value="2024">2024</option>
					</select>
					<button type="button" id = "month-prev-btn">&lt;&lt;</button>
					<button type="button" id = "month-next-btn">&gt;&gt;</button>
				</form>
				<div id = "calendar-view">
					<div class="calendar-cell-header">Nd</div>
					<div class="calendar-cell-header">Po</div>
					<div class="calendar-cell-header">Wt</div>
					<div class="calendar-cell-header">Śr</div>
					<div class="calendar-cell-header">Cz</div>
					<div class="calendar-cell-header">Pt</div>
					<div class="calendar-cell-header">So</div>

					<div class = "calendar-cell">1</div>
					<div class = "calendar-cell">2</div>
					<div class = "calendar-cell">3</div>
					<div class = "calendar-cell">4</div>
					<div class = "calendar-cell">5</div>
					<div class = "calendar-cell">6</div>
					<div class = "calendar-cell">7</div>

					<div class = "calendar-cell">8</div>
					<div class = "calendar-cell">9</div>
					<div class = "calendar-cell">10</div>
					<div class = "calendar-cell">11</div>
					<div class = "calendar-cell">12</div>
					<div class = "calendar-cell">13</div>
					<div class = "calendar-cell">14</div>

					<div class = "calendar-cell">15</div>
					<div class = "calendar-cell">16</div>
					<div class = "calendar-cell">17</div>
					<div class = "calendar-cell">18</div>
					<div class = "calendar-cell">19</div>
					<div class = "calendar-cell">20</div>
					<div class = "calendar-cell">21</div>

					<div class = "calendar-cell">22</div>
					<div class = "calendar-cell">23</div>
					<div class = "calendar-cell">24</div>
					<div class = "calendar-cell">25</div>
					<div class = "calendar-cell">26</div>
					<div class = "calendar-cell">27</div>
					<div class = "calendar-cell">28</div>

					<div class = "calendar-cell">29</div>
					<div class = "calendar-cell">30</div>
					<div class = "calendar-cell">31</div>
					<div class = "calendar-cell">32</div>
					<div class = "calendar-cell">33</div>
					<div class = "calendar-cell">34</div>
					<div class = "calendar-cell">35</div>

					<div class = "calendar-cell">36</div>
					<div class = "calendar-cell">37</div>
					<div class = "calendar-cell">38</div>
					<div class = "calendar-cell">39</div>
					<div class = "calendar-cell">40</div>
					<div class = "calendar-cell">41</div>
					<div class = "calendar-cell">42</div>
				</div>
			</div>
		</div>