<div id = "calendar-day-details">
			<h3 id = "calendar-day-header"></h3>
			<div id = "calendar-day-scheme">
				<div class="scheme-row" value="0">
<div class="scheme-cell scheme-cell-label">00:00-01:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="1">
<div class="scheme-cell scheme-cell-label">01:00-02:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="2">
<div class="scheme-cell scheme-cell-label">02:00-03:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="3">
<div class="scheme-cell scheme-cell-label">03:00-04:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="4">
<div class="scheme-cell scheme-cell-label">04:00-05:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="5">
<div class="scheme-cell scheme-cell-label">05:00-06:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="6">
<div class="scheme-cell scheme-cell-label">06:00-07:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="7">
<div class="scheme-cell scheme-cell-label">07:00-08:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="8">
<div class="scheme-cell scheme-cell-label">08:00-09:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="9">
<div class="scheme-cell scheme-cell-label">09:00-10:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="10">
<div class="scheme-cell scheme-cell-label">10:00-11:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="11">
<div class="scheme-cell scheme-cell-label">11:00-12:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="12">
<div class="scheme-cell scheme-cell-label">12:00-13:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="13">
<div class="scheme-cell scheme-cell-label">13:00-14:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="14">
<div class="scheme-cell scheme-cell-label">14:00-15:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="15">
<div class="scheme-cell scheme-cell-label">15:00-16:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="16">
<div class="scheme-cell scheme-cell-label">16:00-17:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="17">
<div class="scheme-cell scheme-cell-label">17:00-18:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="18">
<div class="scheme-cell scheme-cell-label">18:00-19:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="19">
<div class="scheme-cell scheme-cell-label ">19:00-20:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="20">
<div class="scheme-cell scheme-cell-label">20:00-21:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="21">
<div class="scheme-cell scheme-cell-label">21:00-22:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="22">
<div class="scheme-cell scheme-cell-label">22:00-23:00</div>
<div class="scheme-cell scheme-cell-content"></div>
<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
<div class="scheme-row" value="23">
	<div class="scheme-cell scheme-cell-label">23:00-00:00</div>
	<div class="scheme-cell scheme-cell-content"></div>
	<button class="scheme-cell scheme-cell-choosebtn">Wybierz</button>
</div>
			</div>
		</div>