{% load static %}
<ul id = "navbar">
    <div class="navbaritem navbar-logo" style="vertical-align: middle;">
        <a href="{% url 'homepage' %}">
        <div style="display:inline-block;">
          <img id = "polsl-logo" src="{% static 'img/polsl_logo.png' %}" alt = "Politechnika Śląska" style="" />
          <p id = "website-title-header" style="display:inline-block">System rezerwacji stanowisk laboratoryjnych</p>
        </div>
        </a>
    </div>
        <li class="navbaritem navbar-links">
            <a class="navbarlink" href="/info">Informacje</a>
            <a class="navbarlink" href="/contact">Kontakt</a>
            {% if user.is_authenticated %}
            <a class="navbarlink" href="/account/users/{{user.get_username}}">Profil</a>
            {% else %}
            <a class="navbarlink" href="/account/login">Profil</a>
            {% endif %}
        </li>
</ul>