{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/navbar_style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/userpage.css' %}" rel="stylesheet"/>
    {% block extra_head %}{% endblock %}

</head>
<body>

<div id = "user-logout"></div>
</body>
<!--<footer>-->
<!--    <a href="{% url 'account:logout' %}">-->
<!--        <button>Wyloguj</button>-->
<!--    </a>-->
<!--    <p><a href="{% url 'homepage' %}">Strona główna</a>.</p>-->
<!--</footer>-->
</html>