{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <meta charset="utf-8" />
   <link href="{% static 'userpage.css' %}" rel="stylesheet"/>
   <link href="{% static 'css/navbar_style.css' %}" rel="stylesheet" />
   <link href="{% static 'css/userpage.css' %}" rel="stylesheet" />
</head>
{% include 'navbar.html' %}
<div id = "content">
<h2 id = "user-name">{{first_name}} {{last_name}}</h2>
<p id = "user-login">{{name}}</p>
<div class="user-block" id = "user-contact">
	<div id = "contact-email">
		<span>e-mail&nbsp;</span>
		<span id = "user-email-value">{{email}}</span>
	</div>
	<div id = "contact-phone">
		<span>phone&nbsp;</span>
		<span id = "user-phone-value">{{phone_number}}</span>
	</div>
</div>
<div class="user-block" id = "change-password">
	<a id = "change-password-anchor" href="{% url 'account:password_reset' %}">Zmień hasło.</a>
</div>
<div class="user-block" id = "user-status">
	<span>Status:&nbsp;</span>
	<span id = "user-status-type" class="user-type-something">{{rank}}</span>
</div>
</div>
</html>